// icons
.icon
    background-color: brand1
    color: white
    display: flex
    justify-content: center
    align-items: center
    width: 35px
    height: 35px
    padding:0.1em
    font-size: 1.7em
    border-radius: 8px
.icon.alt
    background-color: brand2
.ic-basic
    font-size: 2.2em
    line-height: 1.8em
    color: brand1
.ic-basic::before
    color: brand1
.ic-basic.rev
    color: white
.ic-basic.rev::before
    color: white


#navMobile .icon,
#navHeader .icon
    background: black
body > footer .icon
    display: inline-flex
    // background-color: blackAlp10
    font-size: 1.4em
    width:40px
    height: 40px
    margin-right: 1px
    margin-bottom: 10px
    justify-content: flex-start
    background: none
    padding: 0
// ctas
a.majorCTA,
a.ctaButton,
input[type=submit]
    color: white
    background-color: material
    border: 1px solid material
    padding: 14px 20px 9px 20px
    margin-bottom: 1em
    display: inline-block
    white-space: nowrap
    border-radius: 8px
    font-size: 1em
    line-height: 140%
    font-weight: 500
    text-decoration: none
input[type=submit]
    margin-bottom: 0
div#masthead a.majorCTA
    color: white !important
a.ctaButton i
    margin-left:15px 
    margin-right:10px;
    transition: 0.2s 
a.ctaButton i:before
    color: brand1

#priNav a.majorCTA
    text-shadow: 0px 1px 2px halfDark    
    box-shadow: 0px 2px 2px black
div.cta > div
    text-align: center
div.cta > div > h6
    margin-bottom: 0

@media (pointer: fine)
    input[type=submit]:hover,
    a.ctaButton:hover,
    a.ctaButton:hover > i:before
        color: white
        border-color: white
        background: none
        opacity: 1.0
    a.ctaButton:hover i
        margin-left:25px; 
        margin-right:0px; 
        transition: 0.5s 



// logos
.mLogo
    width: 50px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.6em
    margin-right: marStd
    padding-left: padXXS
    padding-right: padXXS
    border-right:1px solid whiteAlp50
#priNav-v2 a.logo-small img,
#priNav a.logo-small img
    display: block
    width: 60px
    height: auto
    margin-bottom: marXXS
body > footer img.logo
    width: 15vw
.inpage-logo
    display: block
    width: 50vw
    height: auto 
.inpage-logo-stacked
    display: block
    width: 50vw
    height: auto      
@media ttrigger    
    body > footer img.logo
        width: 120px
    .inpage-logo
        width: 30vw
    .inpage-logo-stacked
        width: 30vw    
@media dtrigger    
    .inpage-logo
        width: 25vw
    .inpage-logo-stacked
        width: 10vw

// flags
span.flag
    display: inline-block
    transform: rotate(-10deg)
    border: 1px solid whiteAlp50
    box-shadow: 1px 3px 4px 0px blackAlp75
span.flag
    width:30px 
span.flag.small
    width: 18px
h1 span.flag
    width:50px
    margin: 0 12px 5px
h2 span.flag
    width:37px
    margin: 0 10px 3px
h3 span.flag
    width:30px
    margin: 0 10px 3px
h4 span.flag
    width:25px
    margin: 0 8px 2px
h5 span.flag
    width:22px
    margin: 0 6px 2px
h6 span.flag
    width:20px
    margin: 0 6px 1px
p span.flag
    width:18px
    margin: 0 6px 1px



.grid-clients
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr))
  grid-gap: 5px

.grid-clients > div
  padding: 1vw
  display: grid
  place-items: center
  border:1px solid blackAlp10

.grid-clients > div::before
  content: ""
  display: block
  padding-bottom: 100%
  grid-area: 1 / 1 / 2 / 2

.grid-clients > div img
  width: 100%
  grid-area: 1 / 1 / 2 / 2



// misc
i.block
    display: inline-block
    font-size:1em
    line-height: 100%
    font-weight: 900
.faded
    opacity:0.4   
    transition: 0.3s 
.rotateIC
    transition: 0.2s
    transform: rotate(180deg) 
.brand1
    color: brand1
.brand2
    color: brand2


// video
.pbVideo
    position: relative
    padding-bottom: 56.25%
    padding-top: 0
    height: 0
.pbVideo iframe 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
div.video
    position: relative  
div.video > div
    width: 100%
    height: 100%  
.hidden-xs
    display: none
div.vidHolder
    position: absolute
    top: 0
    left: 0px
    width: 100%
    height: 100%
    overflow: hidden
video.hidden-xs
    width: 100%
    height: 100%
    object-fit: cover
@media dtrigger
    video.hidden-xs
        width: 100%
        height: 100%
@media dtrigger
    .hidden-xs
        display: block
       


// images
img 
    width: 100%
    height: auto
    display: block
img.med
    width: 75%
    margin: 0px auto
picture.med
    width: 75%
picture.small
    width: 60%
picture.tiny
    width: 30%        
.heroLogo
    width: 80% 
    opacity: 0.75
picture 
    margin: 0 0 marM 0
    display: block
picture.bordered 
    margin: 0 0 marM 0
    padding: padXXS
    border-radius: 8px
    box-shadow: inset 0 0 0px 1px whiteAlp10, inset 0 0 0px 4px black, inset 0 0 0px 5px whiteAlp25
@media phoneRule
    picture 
        margin: marM


// caption and quote styling
p.figureCap
    width: auto
    border-left: 2px solid brand1
    padding: padXS padL padM padM
    margin-left: marL*2 
    position relative   
    margin-bottom: marL
p.quote::before
    position: absolute
    content: '\201C'
    left: - + marXS*2.2
    font-weight: 1000
    font-size: 70px
    display: flex
    align-items: flex-end
    height: 40px
    line-height: 15px
@media phoneRule
    p.figureCap
        font-size: 0.8em
    p.quote::before
        left: -40px
        font-size: 60px
        height: 35px
@media tabletRule
    p.figureCap
        width: auto
    p.quote::before
        left: -50px
@media dtrigger
    p.figureCap
        width: 40vw
        padding: padXXS padXS
        margin-left: marXS*2 
        margin-bottom: marL
    p.quote::before
        left: -50px



// slider
div.slider
    //border: 1px solid red
    overflow: hidden
    // background-color: brand1



// inpage nav for desktop
.inpgNv
    text-align: right 
@media phoneRule
    .inpgNv .inpgNvTop
        display: none



// infographics
.gridBoxes 
    display: grid
    justify-content: center
    align-content: center
    grid-template-columns: repeat(2, 27vmin)
    grid-template-rows: repeat(3, 20vmin)
    grid-gap: 1px
.gridBoxes > *
    background-blend-mode: multiply
    background: linear-gradient(to bottom left, rgba(180,0,0,0.8),rgba(180,0,0,1), rgba(190,0,0,0.8), rgba(200,0,0,0.8))        
    padding: 1.2em
.gridBoxes > * > *
    margin: 0.1em

@media phoneRule 
    article.bythenumbers *.picturefill-background
        height: auto
    article.bythenumbers div.content
        flex-direction: column    
    .gridBoxes
        display: block
    .gridBoxes br
        display: none

div.infographic
    position: relative
div.ig-whatisomni
    margin-top: 0
    margin-bottom: marL

div.ig-whatisomni div.igContent
    display: flex
    flex:1 1 auto
    justify-content: flex-start
    align-items: stretch
    flex-wrap: nowrap
    @media phoneRule
        flex-direction: column

div.ig-whatisomni div.igContent
    background-color: #fefefe
 
div.ig-whatisomni div.igItem
    padding: padXS padStd
    border-left:1px solid #dedede
    border-bottom:1px solid #dedede
    display: flex
    flex:1 1 auto
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    flex-basis: 20%
    @media phoneRule 
        padding: padL padXL
        border-left: none
div.ig-whatisomni div.igItem:last-child 
    border-right:1px solid #cccccc
    @media phoneRule 
        border-right: none
@media phoneRule 
   div.ig-whatisomni div.igItem hr
        display: none


div.ig-whatisomni div.igItem > div
    padding: padXXS
div.ig-whatisomni div.igItem > div > *
    margin: 0
    line-height: 1.3em
    margin-bottom: marXXS
div.ig-whatisomni div.igItem h5
    padding-bottom: 0
    margin-bottom: 0
div.ig-whatisomni div.igItem.orange h5
    color: #d8481b
div.ig-whatisomni div.igItem.yellow h5
    color: #eb9626   

@media phoneRule 
    div.ig-whatisomni div.igItem h5 > br
        display: none
    div.ig-whatisomni div.igItem p
        margin: marXXS 0


@media dtrigger
    div.ig-whatisomni div.igItem
        flex-direction: column
    div.ig-whatisomni div.igItem > div
        padding-left: 0
        padding-bottom: 0
    div.ig-whatisomni div.igItem > div > *:not(p)
       margin-right: 10px;



/* inView effects */
@media dtrigger
    .greyToColor.onOff .stateInactive
        background-color: blackAlp50 !important
        filter:grayscale(100%)
        transition: 1s
    .greyToColor.onOff .stateActive
        background-color: blackAlp10 !important
        filter:grayscale(0%)
        transition: 2.5s    



/* app store links */
span.storeLinks 
    display: block
span.storeLinks a, 
span.storeLinks a img
    display: block
    max-width:150px
    max-height:40px
span.storeLinks a
    display: inline-block


/* simple list */
ul.featureList li
    list-style-type: none
    line-height:1.5em
    margin-bottom: 0.75em
ul.featureList li strong
    display: inline-block
    min-width:12%


/* header elements */
div.outer 
    background-color: black


/* in-page slider ctrl */
body.mktng span.controlSlider
    display: block
    position: relative
    width: 25vw
    height: 25vw*2
    background-image: url(/images/genericPhone.png)
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    margin: 0px auto marL auto
    border-radius: 3.5vw
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.9)

div.videoContent
    position: absolute
    margin: 2vh 1.75vw
    width: 86%   
    overflow: hidden
    z-index:1

div.videoContent div#vidHolder video
    border-radius: 2vw


body.mktng span.controlSlider .owl-theme-slider1 .owl-item,
body.mktng span.controlSlider .owl-theme-slider1 div.item
   height: 25vw*2

body.mktng span.controlSlider .owl-theme-slider1 div.item
    display: flex
    align-items: flex-start
    justify-content: center
    flex-wrap: wrap
    flex-basis: 100%

span.controlSlider div.itemContent
    align-self: stretch
    display: flex
    align-items: flex-end
    justify-content: center
    flex-wrap: nowrap
    width: 100% 
    /* background-color: rgba(1,1,1,1.0)*/
    margin: 2.2vh 1.75vw
    border-radius: 2vw
    background-position: center top
    background-repeat: no-repeat
    background-size: contain
    z-index: 2

span.controlSlider div.itemContent > div 
    text-align: center
    padding: 1vw 2vw
    width: 100%
    background: linear-gradient(to top, 20% rgba(0,0,0,0.9), 50% rgba(0,0,0,0.75), rgba(0,0,0,0.0) ) 


// tables
table
    margin: marXS 0
table td,
table th
    padding: padXXS padXXS*0.6 padXXS*0.8
    margin: 0
    font-size:95%
table th i
    font-size:1.3em
table.list
    padding: padXXS
    background-color: blackAlp50
    width: 100%
    position: relative
table.list thead th
   padding-bottom: padXXS*0.7
   border-bottom: 1px solid white
   text-align: left
   color: whiteAlp75
   font-weight: 400
   white-space: nowrap
table.list tbody tr:nth-child(even)
   background-color: whiteAlp05   
table.list tbody td
    font-weight: 500
div.fixedHeightTable
    max-height: 30vh
    margin: marXS 0
    overflow: auto
div.fixedHeightTable table
    margin: 0
    padding-top: 0
div.fixedHeightTable th
    padding-top: padXXS 
    position: -webkit-sticky    
    position: sticky
    top: 0
    z-index: 2
    background-color: black
    vertical-align: bottom
tr.player
    color: material


// lozenge filter
ul.lozengeFilter
    padding: 0
ul.lozengeFilter li
    display: inline-block
    list-style-type: none
    line-height: 1em
    margin: 0

ul.lozengeFilter li a
    display: inline-block
    text-decoration: none
    background-color: whiteAlp10
    padding: padXS*0.5 padXS padXXS*0.6 padXS
    line-height: 1em
    font-size: 0.9em
    text-underline-offset: 0px
    border-radius: 50px

ul.lozengeFilter li a.active
    background-color: whiteAlp50
    font-weight: 700