/* game board and related css */




div.gameboard
    display: block
    position: relative
    margin: 4px auto
    text-align: center
    /*border: 2px solid rewhited
    box-shadow: 0px 0px 30px 5px blackAlp75
     border-radius: rBorderM*/

/*
div.gameboard div.fluff
    border-style: double
    border-color: whiteAlp25
    border-width: 3px
    border-radius: rBorderStd
    padding: padXXS
*/

div.gameboard div.fluff
    display: inline-block
    padding: padXXS
    background-color: whiteAlp10
    
div.gameboard div.container
    height: 75vh
    width: 75vh
    display: grid
    grid-auto-flow: row
    grid-gap: 0
    align-items: stretch
    border-right: 1px solid
    border-bottom: 1px solid
    border-color: whiteAlp25

div.gameboard div.dashContain
    height: 7.5vh
    width: 75vh
    display: grid
    grid-auto-flow: row
    grid-gap: 0
    align-items: stretch
    border-right: 1px solid
    border-bottom: 1px solid
    border-color: whiteAlp50   
@media phoneRule
    div.gameboard div.container
        height: 94vw
        width: 94vw
@media tabletRule
    div.gameboard div.container
        height: 60vh
        width: 60vh

div.gameboard.g6x6 div.container
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat(6, 1fr)

div.gameboard.g7x7 div.container
    grid-template-columns: repeat(7, 1fr)
    grid-template-rows: repeat(7, 1fr)

div.gameboard.g8x8 div.container
    grid-template-columns: repeat(8, 1fr)
    grid-template-rows: repeat(8, 1fr)

div.gameboard.g10x1 div.dashContain
    height: 5vh
    width: 50vh
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: repeat(1, 1fr)

div.gameboard div.container > div.item,
div.gameboard div.dashContain > div.item
    position relative
    border: 1px solid
    border-right: none
    border-bottom: none
    border-color: whiteAlp25
    padding: 0px
    z-index: 1000

div.gameboard.singleRow
    border: none
    border-radius: 0
    width: 96%
    box-shadow: none
    margin: 0 2%

div.gameboard.singleRow div.dashContain
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-items: stretch
    height: 6vh
    width: 100%
    border: none

div.gameboard.singleRow div.dashContain div.item
    flex-grow: 0
    flex-basis: 5vh
    border: none
    padding: 0
    text-align: center







ul.playerDash div.dashContain div:nth-child(8)
    margin-left: auto
ul.playerDash
    margin-top: 0
    margin-bottom: 0
    padding-left: 0
ul.playerDash li
    font-size: 1em
    line-height: 1em
    margin-bottom: 0
    list-style-type: none
ul.playerDash li.drawerItem
    background-color: black
    padding-bottom: 4px
    margin-bottom: 4px
ul.playerDash li.drawerItem div.gameboard
    background: none
    padding-top: 0

li.drawerItem div.itemHeader
    padding: 4px 4px 2px 4px
    display:flex
    align-items: flex-end
    justify-content: space-between  

div.itemHeader span.smallBox
    font-size: 0.7em
    line-height: 0.7em
    border-radius: 4px
    font-weight: 500
    background-color: whiteAlp10
    display: inline-block
    padding: 8px 10px 5px 10px
    min-width: 35px
    margin-right:5px
div.itemHeader span.smallBox h6
    display: inline-block
    position: relative
    margin: 0
    margin-left: 5px
    top:-2px
    vertical-align: middle
    font-size: 1em
    line-height: 0.7em 
div.itemHeader span.timeRemain h6
    display: inline-block
    position: relative
    margin: 0
    vertical-align: middle
    font-size: 0.7em
    line-height: 0.7em
    margin-left: 3px 
div.itemHeader span.username
    font-size: 0.9em
    font-weight: 500
div.itemHeader.p1 span.username,
div.itemHeader.p1 span.timeRemain h6
    color: var(--pTheme1)
div.itemHeader.p2 span.username,
div.itemHeader.p2 span.timeRemain h6
    color: var(--pTheme2)
div.itemHeader.p3 span.username,
div.itemHeader.p3 span.timeRemain h6
    color: var(--pTheme3)
div.itemHeader.p4 span.username,
div.itemHeader.p4 span.timeRemain h6
    color: var(--pTheme4)
div.itemHeader span.rating
    font-size: 0.75em
div.itemHeader span.flag.small
    width: 12px
div.itemHeader a.openDetail
    text-decoration: none
    font-size: 1em
    line-height: 1em
    display: inline-block
    padding: padXXS padXS
    position relative
    margin-right: marXXS
span.timeRemain
    display: inline-block
    vertical-align: middle
span.timeRemain svg.indicator 
    width:11px
    fill: white

svg.capturedArrows
    width:15px;
svg.capturedArrows
    fill: white
div.p1 svg.capturedArrows g.outline
    fill: var(--pTheme1)
div.p2 svg.capturedArrows g.outline
    fill: var(--pTheme2)
div.p3 svg.capturedArrows g.outline
    fill: var(--pTheme3)
div.p4 svg.capturedArrows g.outline
    fill: var(--pTheme4)

span.statusDots 
    display: block
    position: absolute
    bottom: 2px
    height: 4px
    line-height: 4px
    font-size: 4px
    padding:0
    width: 60%
    left:20%
    text-align: center
span.statusDots span
    width: 4px
    height: 4px
    margin: 0 1px
    border-radius: 2px
    padding: 0
    display: inline-block
    background-color: whiteAlp90
span.statusDots span.inactive
    background-color: whiteAlp25

span.pieceCount 
    right:0
    bottom: 0
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    background: black
    padding: padXXS*0.75 padXXS 0 padXXS
span.pieceCount
    text-align: center
    font-weight: 600
    font-size:14px
div.item.p1 span.pieceCount
    color: var(--pTheme1)
div.item.p2 span.pieceCount
    color: var(--pTheme2)
div.item.p3 span.pieceCount
    color: var(--pTheme3)
div.item.p4 span.pieceCount
    color: var(--pTheme4)

div.opponentDrawer.turnInProgress
    display: none

div.opponentDrawer div.itemDetail
    display: none
div.opponentDrawer div.itemDetail.active
    display: block
@media ttrigger
    div.opponentDrawer div.itemDetail
        display: block
    div.itemHeader a.openDetail
        display: none





/* darkMode */
.darkMode
    background: whiteAlp05





/* pieces and piece theming */    
:root {
    --startPos: 0deg;
    --startPosN: 0deg;
    --startPosE: 90deg;
    --startPosS: 180deg;
    --startPosW: 270deg;
     --pTheme1:rgba(255,0,0,1.0);
    --pTheme2:rgba(0,92,255,1.0);
    --pTheme3:rgba(0,181,69,1.0);
    --pTheme4:rgba(234,191,0,1.0);
    --pTheme1atck:rgba(255,0,0,1.0);
    --pTheme2atck:rgba(0,92,255,1.0);
    --pTheme3atck:rgba(0,181,69,1.0);
    --pTheme4atck:rgba(234,191,0,1.0);
    --selected:rgba(255,255,255,1.0);
}
svg.piece  {
    position:absolute;
    display: block;
    opacity:1.0;
}
svg.piece g.base rect.fill {
    opacity:1.0;
    //mix-blend-mode: color-dodge;
}
svg.piece g.base rect.border {
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    opacity:1;
}
svg.piece g.pieceType {
    transform-origin: inherit;
    /* transition-duration: 750ms; */
}
svg.piece g.pieceType path {
    fill: white;
}
svg.piece g.pieceType polyline {
    stroke:white;
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 2px
}
ul.playerDash li.drawerItem svg g.base rect.border
    opacity:0

div.item.focus 
    z-index: 5000;
ul.playerDash div.item.focus svg.piece
    transform: scale(115%)
div.item.focus svg.piece g.base rect.border
    stroke: white !important;
    opacity: 1.0

div.boardContain div.item svg.piece 
    opacity:0
div.boardContain div.item.p1 svg.piece,
div.boardContain div.item.p2 svg.piece,
div.boardContain div.item.p3 svg.piece,
div.boardContain div.item.p4 svg.piece, 
div.boardContain div.item.playable svg.piece 
    opacity:1
div.boardContain div.item.playable svg.piece g.base rect.fill
    opacity: 0
div.boardContain div.item.playable svg.piece g.base rect.border
    fill: whiteAlp25
    transition: 0.2s




@keyframes flashModded {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.5;
  }
}

.flashModded {
  animation-name: flashModded;
  animation-duration: 2.5s;
}


div.boardContain div.item span.coords 
    display: inline-block
    background-color: whiteAlp25
    color: black
    text-transform: uppercase
    position: absolute
    left:0
    top:0
    font-weight:600
    font-size: 9px
    line-height:8px
    margin:0
    padding: 1px 1px 0 1px 
    z-index: 1
div.boardContain div.item span.coords.flash
    background-color: whiteAlp75
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
div.boardContain div.gameboard.hideCoords span.coords
    display: none


/* default transition time animation */
.movement {
    transition-duration: 750ms;
}

/* piece theming */
.p1 rect.fill {fill: var(--pTheme1);}
.p1 rect.border {stroke: var(--pTheme1);}
.p2 rect.fill {fill: var(--pTheme2);}
.p2 rect.border {stroke: var(--pTheme2);}
.p3 rect.fill {fill: var(--pTheme3);}
.p3 rect.border {stroke: var(--pTheme3);}
.p4 rect.fill {fill: var(--pTheme4);}
.p4 rect.border {stroke: var(--pTheme4);}




/* piece rotations relative to start position of looking N,E,W,S */
//g.pieceType.r0 {transform: rotate(calc(var(--startPosN) + 360deg));}
div.item.r90 g.pieceType {transform: rotate(calc(var(--startPos) + 90deg));}
div.item.r180 g.pieceType {transform: rotate(calc(var(--startPos) + 180deg));}
div.item.r270 g.pieceType {transform: rotate(calc(var(--startPos) + 270deg));}

/*.pE svg.piece g.pieceType.r0 {transform: rotate(calc(var(--startPosE) + 360deg));}
.pE svg.piece g.pieceType.r1 {transform: rotate(calc(var(--startPosE) + 90deg));}
.pE svg.piece g.pieceType.r2 {transform: rotate(calc(var(--startPosE) + 180deg));}
.pE svg.piece g.pieceType.r3 {transform: rotate(calc(var(--startPosE) + 270deg));}

.pS svg.piece g.pieceType.r0 {transform: rotate(calc(var(--startPosS) + 360deg));}
.pS svg.piece g.pieceType.r1 {transform: rotate(calc(var(--startPosS) + 90deg));}
.pS svg.piece g.pieceType.r2 {transform: rotate(calc(var(--startPosS) + 180deg));}
.pS svg.piece g.pieceType.r3 {transform: rotate(calc(var(--startPosS) + 270deg));}

.pW svg.piece g.pieceType.r0 {transform: rotate(calc(var(--startPosW) + 360deg));}
.pW svg.piece g.pieceType.r1 {transform: rotate(calc(var(--startPosW) + 90deg));}
.pW svg.piece g.pieceType.r2 {transform: rotate(calc(var(--startPosW) + 180deg));}
.pW svg.piece g.pieceType.r3 {transform: rotate(calc(var(--startPosW) + 270deg));}
*/

/* available moves anim */
div.item.available {
    border:1px solid whiteAlp50 !important;
    z-index: 2000 !important;
    animation-duration: 800ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 10;
    animation-direction: alternate;
}
div.item.available.pN {
    box-shadow: 0 0 10px 3px var(--pTheme1);
    animation-name: pNavails;
    border:1px solid var(--pTheme1) !important;
}
@keyframes pNavails {
    from {box-shadow: 0 0 5px 3px var(--pTheme1);}
    to {box-shadow: 0 0 15px 5px var(--pTheme1);}
}
div.item.available.pE {
    box-shadow: 0 0 10px 3px var(--pTheme2);
    animation-name: pEavails;
    border:1px solid var(--pTheme2) !important;
}
@keyframes pEavails {
    from {box-shadow: 0 0 5px 3px var(--pTheme2);}
    to {box-shadow: 0 0 15px 5px var(--pTheme2);}
}
div.item.available.pS {
    box-shadow: 0 0 10px 3px var(--pTheme3);
    animation-name: pSavails;
    border:1px solid var(--pTheme3) !important;
}
@keyframes pSavails {
    from {box-shadow: 0 0 5px 3px var(--pTheme3);}
    to {box-shadow: 0 0 15px 5px var(--pTheme3);}
}
div.item.available.pW {
    box-shadow: 0 0 10px 3px var(--pTheme4);
    animation-name: pWavails;
    border:1px solid var(--pTheme4) !important;
}
@keyframes pWavails {
    from {box-shadow: 0 0 5px 3px var(--pTheme4);}
    to {box-shadow: 0 0 15px 5px var(--pTheme4);}
}


/* shield .. hidden */
svg.piece g.shield path.shieldfront1 {
    fill: #fff;
}
svg.piece g.shield path.shieldfront2 {
    fill: #333;
}
svg.piece g.shield path.shieldShadow {
    opacity: 0.3;
}
svg.piece g.shield path.shieldBorder {
    stroke-miterlimit: 10;
    stroke-width: 1px;
    stroke: #fff;

}
.p1 svg.piece g.shield path.shieldBorder {
    stroke: var(--pTheme1);
}
.p2 svg.piece g.shield path.shieldBorder {
    stroke: var(--pTheme2);
}
.p3 svg.piece g.shield path.shieldBorder {
    stroke: var(--pTheme3);
}
.p4 svg.piece g.shield path.shieldBorder {
    stroke: var(--pTheme4);
}
.p1 svg.piece g.shield path.shieldfront2,
.p1 svg.piece g.eyeShdw path {
    fill: var(--pTheme1);
    stroke: var(--pTheme1);
}
.p2 svg.piece g.shield path.shieldfront2,
.p2 svg.piece g.eyeShdw path {
    fill: var(--pTheme2);
    //stroke: var(--pTheme2);
}
.p3 svg.piece g.shield path.shieldfront2,
.p3 svg.piece g.eyeShdw path {
    fill: var(--pTheme3);
    //stroke: var(--pTheme3);
}
.p4 svg.piece g.shield path.shieldfront2,
.p4 svg.piece g.eyeShdw path {
    fill: var(--pTheme4);
    //stroke: var(--pTheme4);
}
svg.piece g.eye path {
    fill: #fff;
    opacity: 1;
}
div.dashContain svg.piece g.eye path {
    fill: #fff;
    opacity: 1;
}
/*
.p4 svg.piece g.eye path {
    fill: #333;
    opacity: 0.75;
}

.p4 svg.piece g.eye path {
    fill: #333;
    opacity: 0.75;
}

.p4 svg.piece g.eye path {
    fill: #333;
    opacity: 0.75;
}

.p4 svg.piece g.eye path {
    fill: #333;
    opacity: 0.75;
}*/  




svg.piece g.hidden g.rings rect {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 3px;
    opacity: 0.25;
}
svg.piece g.hidden g.rings rect:first-child {
    opacity: 0.15;
}
svg.piece g.hidden g.rings rect:last-child {
    opacity: 0.35;
}



div.item.hasHidden svg.piece g.pieceType path {
    fill: whiteAlp10;
}
div.item.hasHidden svg.piece g.pieceType polyline {
    stroke:whiteAlp75;
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 2px
}


/* disable and depleted states - dashboards */
.inactive svg
    opacity: 0.2
div.itemDetail div.item.p1.disabled svg.piece g.base rect.fill
    fill: whiteAlp25
div.itemDetail div.item.p2.disabled svg.piece g.base rect.fill
    fill: whiteAlp25
div.itemDetail div.item.p3.disabled svg.piece g.base rect.fill
    fill: whiteAlp25
div.itemDetail div.item.p4.disabled svg.piece g.base rect.fill
    fill: whiteAlp25

div.itemDetail div.item.p1.disabled svg.piece path
div.itemDetail div.item.p1.disabled svg.piece polygon
    fill: var(--pTheme1)
div.itemDetail div.item.p1.disabled svg.piece polyline
    stroke: var(--pTheme1)

div.itemDetail div.item.p2.disabled svg.piece path
div.itemDetail div.item.p2.disabled svg.piece polygon
    fill: var(--pTheme2)
div.itemDetail div.item.p2.disabled svg.piece polyline
    stroke: var(--pTheme2)  

div.itemDetail div.item.p3.disabled svg.piece path
div.itemDetail div.item.p3.disabled svg.piece polygon
    fill: var(--pTheme3)
div.itemDetail div.item.p3.disabled svg.piece polyline
    stroke: var(--pTheme3)

div.itemDetail div.item.p4.disabled svg.piece path
div.itemDetail div.item.p4.disabled svg.piece polygon
    fill: var(--pTheme4)
div.itemDetail div.item.p4.disabled svg.piece polyline
    stroke: var(--pTheme4)


/* selected . attack highlighting */
div.item.attack {
    z-index: 2000 !important;
    animation-duration: 800ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 10;
    animation-direction: alternate;
}
div.item.attack_pN {
    box-shadow: 0 0 10px 3px var(--pTheme1);
    border:1px solid var(--pTheme1atck) !important;
    animation-name: attackable;
}
div.item.attack_pE {
    box-shadow: 0 0 10px 3px var(--pTheme2);
    border:1px solid var(--pTheme2atck) !important;
    animation-name: attackable;
}
div.item.attack_pS {
    box-shadow: 0 0 10px 3px var(--pTheme3);
    border:1px solid var(--pTheme3atck) !important;
    animation-name: attackable;
}
div.item.attack_pW {
    box-shadow: 0 0 10px 3px var(--pTheme4);
    border:1px solid var(--pTheme4atck) !important;
    animation-name: attackable;
}
@keyframes attackable {
    from {box-shadow: 0 0 5px 3px var(--selected);}
    to {box-shadow: 0 0 15px 5px var(--selected);}
}
.pN svg.piece g.pieceType g.attackDir polyline {stroke: var(--pTheme1atck);}
.pN svg.piece g.pieceType g.attackDir path {fill: var(--pTheme1atck);opacity:0.3}
.pE svg.piece g.pieceType g.attackDir polyline {stroke: var(--pTheme2atck);}
.pE svg.piece g.pieceType g.attackDir path {fill: var(--pTheme2atck);opacity:0.3}
.pS svg.piece g.pieceType g.attackDir polyline {stroke: var(--pTheme3atck);}
.pS svg.piece g.pieceType g.attackDir path {fill: var(--pTheme3atck);opacity:0.3}
.pW svg.piece g.pieceType g.attackDir polyline {stroke: var(--pTheme4atck);}
.pW svg.piece g.pieceType g.attackDir path {fill: var(--pTheme4atck);opacity:0.3}




/* general animation setup */
/* scale up, fade to remove */
@keyframes ScaleUpFade {
    0% {
        transform: scale(1.0); opacity:1.0;
    }
    25% {
        transform: scale(0.9); opacity:0.8;
    }
    50% {
        transform: scale(1.2); opacity:0.6;
    }
    100% {
        transform: scale(2.0); opacity:0;
    }
}

/* take off */
@keyframes SwipeOff {
    0% {
        transform: scale(1.0) rotate(0deg) translateY(0);
        opacity:1.0;
    }
    100% {
        transform: scale(1.5) rotate(-360deg) translateY(-20vh);
        opacity:0;
    }
}
/* subtle add */
@keyframes SlideIn {
    0% {
        transform: scale(1.5) translateY(-50px); opacity:0.0;
    }
    60% {
        transform: scale(1.5) translateY(0); opacity:0.5;
    }
    80% {
        transform: scale(0.8) translateY(0); opacity:0.5;
    }
    100% {
        transform: scale(1.0) translateY(0); opacity:1.0;
    }
}



/* execution classes */
.scaleOut {
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-timing-function: ease-in, linear, ease-out;
    animation-iteration-count: 1;
    animation-name: ScaleUpFade;
}
.swipeOff {
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-timing-function: ease-in, linear, ease-out;
    animation-iteration-count: 1;
    animation-name: SwipeOff;
}
.slideDown {
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-timing-function: ease-in, linear, ease-out;
    animation-iteration-count: 1;
    animation-name: SlideIn;
}



/* testing using hover */
.TEST-scaleGo:hover {
    animation-fill-mode: forwards;
    animation-duration: 700ms;
    animation-timing-function: ease-in, linear, ease-out;
    animation-iteration-count: 1;
    animation-name: SwipeOn;
}


/* standalone piece */
span.isoSVG
    display: inline-block
    width: 25px
    height: 25px
    position: relative
    margin-bottom: -4px
    margin-left: 4px
    margin-right: 4px


span.isoSVG.x1_5
    display: inline-block
    width: 35px
    height: 35px
    position: relative
    margin-bottom: -4px
    margin-left: 4px
    margin-right: 4px

span.isoSVG.x2
    display: inline-block
    width: 50px
    height: 50px
    position: relative
    margin-bottom: -4px
    margin-left: 4px
    margin-right: 4px

/* bonus piece */
svg.piece g.bonus 
    fill: white


/* attackable */

div.item.attackable svg.piece g.pieceType polyline,
div.item.attackable svg.piece g.pieceType path 
    opacity: 0.5
div.item.attackable svg.piece g.pieceType polyline.attackable 
    opacity: 1.0
div.item.attackable svg.piece rect.border
    stroke: #fff
div.p1.item.attackable.nonContrib svg.piece rect.border
    stroke: var(--pTheme1)
div.p2.item.attackable.nonContrib svg.piece rect.border
    stroke: var(--pTheme2)
div.p3.item.attackable.nonContrib svg.piece rect.border
    stroke: var(--pTheme3)
div.p4.item.attackable.nonContrib svg.piece rect.border
    stroke: var(--pTheme4)
    //stroke-dasharray: 3,2
    //opacity 0.7
