//core layout
main
    background-color: blackAlp50
    //min-height: 100vh
    min-height: 96vh  - (padL)
main.flexHeight 
    min-height: 10vh
body footer
    border-top: 1px solid whiteAlp25
    background-color: blackAlp50

@media ttrigger
    main 
        min-height: 90vh  - (padL)
        padding-top: 0
        padding-bottom: padL  
    main, div#priNav-v2, div#priNav, div#secNav, footer.siteWide, div#carouselIndicator, div#slideNav, div.owl-theme.mktngSlider div.contentHdr
        padding-left: padL*1.5    
        padding-right: padL*1.5
    
    body footer
        min-height: 10vh - (padM + padL)
        padding-top: padL
        padding-bottom: padL   
    div#priNav,
    div#priNav-v2
        height: navHeightL
    div#secNav
        height: navHeight
    div#slideNav 
        padding-top: padXS
        padding-bottom: padStd

.picturefill-background
    overflow hidden



// content
div#masthead
    z-index: 10
div.contentHdr,    
div.content
    width: 100%
    height: 100%
div.contentHdr
    position: relative
    z-index: 2 
div.content > section > div
    padding: padStd
    margin-top: marStd
    margin-bottom: marM
*.pullUp div.content > section > div
    padding-top: 0
*.inset div.content
    justify-content: center
 
*.fullH
    height: fullH 
*.largeH
    height: largeH
*.halfH
    height: halfH
*.smallH
    height: smallH  
.largeH div.content > section > div
    padding-top: padXL*0.5
    padding-bottom: padXL*0.5
.halfH div.content > section > div
    padding-top: padXL*0.3
    padding-bottom: padXL*0.3
.smallH div.content > section > div
    padding-top: padXL*0.2
    padding-bottom: padXL*0.2
// image and content articles    
article.imageContent div.content > section
    margin-right: 0    
article.imageContent.row div.content > section:last-child
    background-color: blackAlp5
article.imageContent section > div
    padding: padL padM
    min-height: 22vw
article.grid section > div
    padding: 0
article.grid section > div:last-child,
article.grid .picturefill-background
    padding: padM padM
article.grid.side-by-side section
    display: flex
    flex: 1 1 auto
    align-items: center
article.grid.side-by-side section > div
    flex-basis: 40%
article.grid.side-by-side section > div:last-child
    flex-basis: 80%
    padding: padXS 0 padStd padStd
article > header
    padding: padM

main.mktng
    padding-top: padStd
main.mktng > header,
main.mktng > article
    padding-top: padL 
    padding-bottom: padStd 


*.centerMe div.content
    text-align: center 
// positioning in image articles - default is left-top-left ie, no classing
div.content.rC    
    justify-content: center
div.content.rE    
    justify-content: center    
div.content.cC    
    align-items: center
div.content.cE    
    align-items: center        
.rC > div,
.rE > div,
.cC > div
    display: flex
    flex-direction: column
    flex-wrap: wrap
.rC > div
    justify-content: center
.rE > div
    justify-content: flex-end
.cC > div
    justify-content: center
    align-items: left
    text-align: left 
.tC
    text-align: left
.tR
    text-align: left 
  
@media phoneRule
    main, footer.siteWide, div.owl-theme.mktngSlider div.contentHdr
        padding: padStd    
    div.content section > div
        padding: padXL*1.5 padL*1.4 padXL*1.5 padL*1.5
    article > header
        padding: padXL*1.5 padL*1.4 padL*1.5 padL*1.5
        border: none;
    div.picturefill-background div.content
        display: flex
        align-items: flex-end
    div.picturefill-background div.content.hero
        align-items: center
        // background-color: blackAlp25
    div.picturefill-background div.content section
        width:100%  
    .picturefill-background
        min-height: halfH  
    article.imageContent.row div.content > section:last-child
        background: none
    article.grid
        margin-top: marL*2
        margin-bottom: marL
    article.grid section > div
        padding: padL padL*1.5 !important
    article.grid section > div:last-child
        padding-bottom: padXL !important     
    article.grid.side-by-side section > div:first-child
        flex-basis: 30%
        padding: padM padM padM padL*1.5
    article.grid.side-by-side section > div:last-child
        flex-basis: 70%
        padding: padL padXL padM padM
        font-size: 85%
    article.grid .picturefill-background
        min-height: halfH
    article.grid .picturefill-background > div
        min-height: halfH
    article.imageContent
        margin-bottom: 0
    .remSec section > div:first-child
        display: none;
    .remSec section > div
        flex-basis: 100% !important
        padding: padL padL*1.5 !important


@media ttrigger  
    div.content
        display: flex
        justify-content: space-between
        flex: 1 1 auto
        column-gap: marXL
    div.content > section
        flex-basis: 70%
    article.alignMiddle div.content
        align-items: center
    article.grid div.content
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr))
        column-gap: marM
        row-gap: marM  
    article.grid div.content > section
        margin: 0
    article.grid.allCols div.content
        display: flex 
        flex-wrap: wrap
        justify-content: space-between
        column-gap: 0
        row-gap: 0
    article.grid.allCols div.content > section
        flex-basis: 47%
    article.grid .picturefill-background
        min-height: 35vw
    article.grid .picturefill-background > div
        min-height: 35vw

    
@media tabletRule
    article.grid.side-by-side div.content
        display: block
    article.grid.side-by-side section
        margin-bottom: marM !important
    article.grid.side-by-side section > div
        flex-basis: 20%
    article.grid.side-by-side section > div:last-child
        flex-basis: 80%
    

@media dtrigger 
    div.content > section
        flex-basis: 50%
    article.grid.allCols div.content
        display: flex 
        flex-wrap: nowrap
        justify-content: flex-start
    article.grid.allCols div.content > section
        margin-right: marXXS
    article.grid.allCols div.content > section:last-child
        margin-right: 0
    article.grid .picturefill-background
        min-height: 14.5vw
    article.grid .picturefill-background > div
        min-height: 14.5vw
    article.grid.side-by-side div.content
        grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr))
    article.grid.side-by-side div.content > section
        padding-left: padM
        padding-right: padM
    div.content.rC    
        justify-content: center
    div.content.rE    
        justify-content: flex-end    
    div.content.cC    
        align-items: center 
    div.content.cE    
        align-items: flex-end        
    .rC > div,
    .rE > div,
    .cC > div
        display: flex
        flex-direction: column
        flex-wrap: wrap
    .rC > div
        justify-content: center
    .rE > div
        justify-content: flex-end
    .cC > div
        justify-content: center
        align-items: center
        text-align: center
    .tC
        text-align: center
    .tR
        text-align: right   
    article > header
        max-width: 40vw 

    .row.flip div.content
        flex-direction: row-reverse


// do an IE version of grid in flex



// footer
footer.siteWide section
    padding: padL
footer.siteWide section > a
    display: inline-block
    margin-bottom: 0.75em
    text-decoration: underline
@media phoneRule
    footer.siteWide
        border-top: none
    footer.siteWide section
        text-align: center
        border-top: 4px solid brand1
    footer.siteWide img.logo
        margin: 2em auto
        width: 30vw !important
    footer.siteWide p,
    footer.siteWide a
        max-width: 75%
        margin: 1em auto
        font-size: 1em !important
        line-height: 1.3em !important
@media ttrigger
    footer.siteWide section:last-child
        border-top: 4px solid brand1
    footer.siteWide img.logo
        margin-bottom: 2em
    footer.siteWide p,
    footer.siteWide a
        max-width: 90%
@media dtrigger
    footer.siteWide section
        padding: 0 padStd
    footer.siteWide
        display: flex
        justify-content: flex-start
        align-items: flex-start
        column-gap: marL
    footer.siteWide > section
        flex-basis: 30%
    footer.siteWide section:last-child
        border-top: none
    footer.siteWide p,
    footer.siteWide a
        max-width: 100%



// desktop navigation
div#masthead
    background-color: halfDark
    display: block
    color: white
div#priNav,
div#priNav-v2
    background-color: blackAlp75 
    display: block
div#slideNav
    background-color: blackAlp75 
div#secNav
    background-color: blackAlp75    
div#priNav, div#priNav-v2, div#secNav, div#carouselIndicator
    display: flex
    justify-content: space-between
    align-items: center
div#priNav > *, div#priNav-v2 > *, div#secNav > *
    margin-top: marXXS
    margin-bottom: marXXS
div#priNav > nav, div#priNav-v2 > nav, div#carouselIndicator > div:first-child
    display: flex
    justify-content: flex-start
    flex-basis: 75%
div#priNav > nav > *,
div#priNav-v2 > nav > *, div#carouselIndicator > div:first-child > div
    flex-basis: 17%    
    margin-right: marXS
div#priNav > div,
div#priNav-v2 > div
    flex-basis: 10%
div#secNav > nav
    display: flex
    justify-content: flex-end
    align-items: flex-end
    flex-basis: 60%
div#secNav > nav > *
    margin-left: marStd
div#secNav > div
    display: flex
    flex-basis: 15%
div#secNav > div > nav
    display: flex
div#secNav > div a
    margin-right: marStd
div#slideNav 
    display: none    
div#slideNav > div
    padding-left: 14.5%
    display: flex
div#slideNav > div > nav
    display: flex
    flex-direction: column
    margin-right: marXL
div#slideNav > div > nav > *
    margin-bottom: marXS*.8
div#carouselIndicator div.dashes > div
    height: 4px
div#carouselIndicator div.dashes > div.active
    background-color: brand2
div#priNav-v2 > nav a:not(:first-child)
    border-bottom: 1px solid
    border-bottom-color: whiteAlp50
    padding-left: 3px
    padding-bottom: 7px
    color: whiteAlp75
    align-self: center

div#priNav-v2 > nav a:first-child,
div#carouselIndicator > div:first-child > div:first-child
    flex-basis:25%
@media smallDesktop
    div#priNav > nav,
    div#priNav-v2 > nav, div#carouselIndicator > div:first-child
        flex-basis: 100%
    div#priNav > nav > *,
    div#priNav-v2 > nav > *, div#carouselIndicator > div:first-child > div
        flex-basis: 20%    
        margin-right: marM
    div#priNav-v2 > div,
    div#priNav > div
        display: none
    div#slideNav > div
        padding-left: 20%





// mobile nav
.navHeight
    height: navSpacer

#navMobile
    position: fixed
    bottom: marL
    right: marL
    z-index: 6000
#navHeader
    position: fixed
    z-index: 7000
    background-color: brand1a
    width:100vw
    padding-left: 0
    padding-right: 0 
    display: flex
    align-items: center
    justify-content: space-between
#navHeader div#mblNavControl
    display: flex 
    padding-right: rBorderXXS
#navHeader div#mblNavControl > *
    margin-right: rBorderXS     
#navHeader div.status
    flex-basis: 100%
    margin-right: 3vw
#navHeader > *
    //{test}   
div.mblnav
    display: none;
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 6001
    background-color: black
div.mblnavContainer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    /* The main point: */
    overflow-y: auto
    /* Optional but highly reccomended: enables momentum scrolling on iOS */
    -webkit-overflow-scrolling: touch
    background-image: url(/images/textures/kraft-dk/tile.jpg)
    background-color: black
.open
    opacity: 1 !important
div.containMNav
    padding: padXL padXL
div.containMNav > *
    text-align: center
div.containMNav nav
    display: flex
    flex-direction: column
    margin:  0 0 marL
div.containMNav nav a
    padding: padM*1.25 padM 
    line-height: 130%
    margin: 3px 0
    border-radius: 4px
    background-color: rgba(0,0,0,0.8)
div.containMNav h6
    font-size: 1em
    margin-top: marStd
    margin-bottom: marL
div.containMNav a.alert
    color: bad

div.containMNav div.minorLinks, 
div.containMNav div.social 
    margin: marM 0 marXL 0
div.containMNav div.minorLinks
    padding: 0 padL

div.containMNav div.minorLinks a
    margin: marXXS
    padding: padXS
    line-height: 1.4em
    white-space: nowrap
    display: inline-block

/* @media mtrigger
    html.noscroll 
        overflow: hidden 
    body.noscroll
        overflow: visible
        height: 100% */
// use noscroll on all views since using modal nav on all        
html.noscroll 
    overflow: hidden 
body.noscroll
    overflow: visible
    height: 100%   




/* lobby */
header.lobby
    text-align: center
    padding: padL padL
header.lobby > *
    margin: 0
header.lobby > .name
    margin-bottom: 0.2em
header.lobby > div.gameCTAs
    margin-top: 1em
    margin-bottom: marXS
div.lobbyDiv
    padding: padL padM
    margin-bottom: marM
div.lobbyDiv div.flexRow
    display: flex
    justify-content: space-between
div.lobbyDiv div.flexRow a.tabLink
    border-bottom: 3px solid rgba(255,255,255,0)
    margin-bottom: marXS
    padding-left: padStd
    padding-right: padStd
div.lobbyDiv div.flexRow a.tabLink.activeLink
    border-bottom: 3px solid white


div.lobbyDiv.gamesList a
    text-decoration: none

div.lobbyDiv.gamesList
    tr.gameDetail td
        background-color: whiteAlp05
        padding: padXS

div.lobbyDiv.gamesList
    tr.gameDetail ol 
        margin: 0
        padding: 0
        padding-left: 10px
        //counter-reset: item
        //list-style-type: none
div.lobbyDiv.gamesList
    tr.gameDetail li:before
        //content: counter(item) " ";
        //counter-increment: item
div.lobbyDiv.gamesList
    tr.gameDetail li
        margin: 0
        margin-top: marXXS
        padding-left: 0
        margin-left: 20px
        line-height: 1.6
        vertical-align: bottom
        white-space: nowrap
        //display: block
        

div.lobbyDiv.gamesList
    tr.gameDetail li.p1
        color: var(--pTheme1)
div.lobbyDiv.gamesList
    tr.gameDetail li.p2
        color: var(--pTheme2)
div.lobbyDiv.gamesList
    tr.gameDetail li.p3
        color: var(--pTheme3)
div.lobbyDiv.gamesList
    tr.gameDetail li.p4
        color: var(--pTheme4)
div.lobbyDiv.gamesList
    tr.gameDetail li.active:before
        font-family: 'icomoon'
        content: '\e910'
        position: absolute
        left: 0
        font-size:15px
        line-height: 15px
        color: white
        

div.lobbyDiv.gamesList
    div.gameDetail
        display: flex
        flex-wrap: nowrap
        align-items: center
        justify-content: space-between
div.lobbyDiv.gamesList
    div.gameDetail > div 
        flex: 1 1 auto
        align-self: stretch
div.lobbyDiv.gamesList
    div.gameDetail > div:last-child
        flex-basis: 40%
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: flex-end
        padding-top: padXS
        padding-bottom: padXS
        
div.lobbyDiv.gamesList
    div.gameDetail > div:last-child > span
        flex-basis: 40%

div.lobbyDiv.gamesList
    div.gameDetail > div:last-child > span:last-child
        text-align: center
         
@media phoneRule 
 div.lobbyDiv.gamesList
    div.gameDetail > div:last-child > span
        flex-basis: 80%
    div.lobbyDiv.gamesList
    div.gameDetail > div:last-child > span:last-child
        text-align: left   

@media dtrigger 
    tr.gameDetailTrigger:hover
        cursor: pointer
        transition: 0.5s
        opacity: 0.7





/* actionPanel */
div.actionPanel
    position: fixed
    width: 100vw
    bottom: 0
    background-color: blackAlp85
    z-index: 5000

div.actionInner
    padding: 3vw 1vw 2vw 1vw

div.actionPanel div.actionInfo,
div.actionPanel div.actions
    display: flex
    column-gap: 2vw
    align-items: center
    justify-content: center
    margin: 2vw 0

div.actionPanel div.actionInfo
    margin-bottom: 4vw

div.actionPanel div.actionInfo div.actionMsg
    flex-basis: 70%
    font-size: 0.85em
    line-height: 1.2em

div.actionPanel div.actionInfo div:first-child
    text-align: center







/* overlayBoard */
div.overlayBoard
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    z-index: 2000
    background-color: blackAlp90

div.overlayContainer
    display: flex
    justify-content: center
    align-items: center
    height 90vh

div.overlayContent
    flex-basis: 65%
    padding: padXL
    background-color: whiteAlp10
    border-radius: 15px
    box-shadow: 0 0 20px 5px black

div.overlayMsg
    text-align: center